@page "/stands/programming"

@rendermode InteractiveServer
@using BlazorMonaco
@using System.Runtime.CompilerServices
@using MQTTnet
@using Mqtt
@using MQTTnet.Client
@inject IJSRuntime JS
@implements IAsyncDisposable

<PageTitle>Code</PageTitle>

<head>
</head>

<h1>Программирование стенда</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group btn-group-sm">
                <div class="btn-group btn-group-sm">
                    <button @onclick=StartStream>Start</button>
                    <button @onclick=StopStream>Stop</button>
                </div>
            </div>
            
            <div class="container card" id="streams">
                <div class="row hide" id="info">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-size:large;">
                            <h3 class="panel-title"><i class="fa fa-info-circle"></i></h3>
                        </div>
                        <div class="panel-body">
                            <pre id="metadata" style="word-break: break-word;"></pre>
                        </div>
                    </div>
                </div>
                <div class="col-md" id="videos">
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <StandaloneCodeEditor @ref="_editor"
                                      Id="code-editor"
                                      ConstructionOptions="EditorConstructionOptions" />
            </div>
            <div class="row-md">
                <div class="card">
                    <div class="card-header">
                        Console
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var logEntry in _console)
                        {
                            <li class="list-group-item">@logEntry</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string _defaultValue = "";
    private StandaloneEditorConstructionOptions _defaultOptions;
    private IJSObjectReference? _module;

    [System.Diagnostics.CodeAnalysis.AllowNull]
    private StandaloneCodeEditor _editor;

    private List<string> _console { get; set; } = new List<string>();

    private IMqttClient? mqttClient { get; set; }

    [SupplyParameterFromQuery]
    public int ID { get; set; }

    public Programming()
    {
        _defaultOptions = new StandaloneEditorConstructionOptions
            {
                AutomaticLayout = true,
                Language = "c++",
                GlyphMargin = true,
                Value = _defaultValue,
                ScrollBeyondLastLine = false,
                RenderFinalNewline = "on",
                SelectOnLineNumbers = true
            };
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneDiffEditor editor)
    {
        return _defaultOptions;
    }

    public void InitJanus()
    {
        JS.InvokeVoidAsync("startJanusStreamModule");
    }

    public void StartStream()
    {
        JS.InvokeVoidAsync("startStream", ID);
    }

    public async Task StopStream()
    {
        await JS.InvokeVoidAsync("stopStream");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            InitJanus();
            await InitializeMqttClient();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task InitializeMqttClient()
    {
        if (mqttClient == null)
        {
            mqttClient ??= new MqttFactory().CreateMqttClient();
            //await MqttClientConnection.Connect_Client_Using_WebSockets(mqttClient);
            await MqttClientConnection.Connect_Client_Using_WebSocketsTls(mqttClient);
            //await MqttClientConnection.Connect_Client_Using_TLS_1_2(mqttClient);
            await MqttSubscribe.Subscribe_Topic(mqttClient, "lab/");
            ConcurrentProcessingDisableAutoAcknowledge(CancellationToken.None, mqttClient);
        }
    }

    public async ValueTask DisposeAsync()
    {
        // Perform async cleanup.
        if (mqttClient != null)
        {
            if (mqttClient.IsConnected)
                await MqttClientConnection.Clean_Disconnect(mqttClient);
            mqttClient.Dispose();
        }
        
        // Dispose of unmanaged resources.
        _editor.Dispose();
        
        // Suppress finalization.
        GC.SuppressFinalize(this);
    }

    private async Task SendMQTTMessage(string topic, string value)
    {
        if (mqttClient is not null)
            await MqttClientPublish.Publish_Application_Message(mqttClient, topic, value);
    }

    private async Task SendMQTTMessage(MqttMessage message)
    {
        if (mqttClient is not null)
            await MqttClientPublish.Publish_Application_Message(mqttClient, message.Topic, message.Message);
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor) => _defaultOptions;

    public static void ConcurrentProcessingDisableAutoAcknowledge(CancellationToken shutdownToken, IMqttClient mqttClient)
    {
        mqttClient.ApplicationMessageReceivedAsync += ea =>
        {
            ea.AutoAcknowledge = false;

            async Task ProcessAsync()
            {
                // DO YOUR WORK HERE!
                // Need to implement responses
                Console.WriteLine(ea.ApplicationMessage.PayloadSegment.ToString());
                await Task.Delay(1000, shutdownToken);
                await ea.AcknowledgeAsync(shutdownToken);
                // WARNING: If process failures are not transient the message will be retried on every restart of the client
                //          A failed message will not be dispatched again to the client as Mqtt does not have a NACK packet to let
                //          the broker know processing failed
                //
                // Optionally: Use a framework like Polly to create a retry policy: https://github.com/App-vNext/Polly#retry
            }

            _ = Task.Run(ProcessAsync, shutdownToken);

            return Task.CompletedTask;
        };
    }
}