@page "/admin/users/edit"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.EntityFrameworkCore
@using BlazorApp1.Data
@inject IDbContextFactory<BlazorApp1.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>User</h4>
<hr />
@if(ApplicationUser == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ApplicationUser" OnValidSubmit="UpdateUser" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="ApplicationUser.Id" value="@ApplicationUser.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Ник:</label>
                    <InputText id="name" @bind-Value="ApplicationUser.UserName" class="form-control" />
                    <ValidationMessage For="() => ApplicationUser.UserName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Почта:</label>
                    <InputText id="name" @bind-Value="ApplicationUser.Email" class="form-control" />
                    <ValidationMessage For="() => ApplicationUser.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Имя:</label>
                    <InputText id="name" @bind-Value="ApplicationUser.Name" class="form-control" />
                    <ValidationMessage For="() => ApplicationUser.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Фамиилия:</label>
                    <InputText id="name" @bind-Value="ApplicationUser.Surname" class="form-control" />
                    <ValidationMessage For="() => ApplicationUser.Surname" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Отчество:</label>
                    <InputText id="name" @bind-Value="ApplicationUser.Patronymic" class="form-control" />
                    <ValidationMessage For="() => ApplicationUser.Patronymic" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="admin/users">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public string ID { get; set; }

    [SupplyParameterFromForm]
    public ApplicationUser? ApplicationUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ApplicationUser ??= await context.Users.FirstOrDefaultAsync(m => m.Id == ID);
        ApplicationUser.Name = "";
        ApplicationUser.Surname = "";
        ApplicationUser.Patronymic = "";
        if (ApplicationUser is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ApplicationUser!).State = EntityState.Modified;

        try
        {
            
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UserExists(ApplicationUser!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/admin/users/");
    }

    bool UserExists(string id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Users.Any(e => e.Id == id);
    }
}
