@page "/admin/users"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IDbContextFactory<BlazorApp1.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="/admin/users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Users">
    <PropertyColumn Property="user => user.UserName" />
    <PropertyColumn Property="user => user.Email" />

    <TemplateColumn Context="user">
        <a href="@($"admin/users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"admin/users/details?id={user.Id}")">Details</a> |
        <a href="@($"admin/users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
