@page "/stands/create"

@using Microsoft.EntityFrameworkCore
@using BlazorApp1.Models
@inject IDbContextFactory<BlazorApp1.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Stand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Stand" OnValidSubmit="AddStand" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label>
                <InputNumber id="id" @bind-Value="Stand.ID" class="form-control" />
                <ValidationMessage For="() => Stand.ID" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Stand.Name" class="form-control" /> 
                <ValidationMessage For="() => Stand.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Stand.Description" class="form-control" /> 
                <ValidationMessage For="() => Stand.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="videourl" class="form-label">VideoUrl:</label> 
                <InputText id="videourl" @bind-Value="Stand.VideoUrl" class="form-control" /> 
                <ValidationMessage For="() => Stand.VideoUrl" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="ansiblescript" class="form-label">AnsibleScript:</label> 
                <InputText id="ansiblescript" @bind-Value="Stand.AnsibleScript" class="form-control" /> 
                <ValidationMessage For="() => Stand.AnsibleScript" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/stands">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Stand Stand { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddStand()
    {
        using var context = DbFactory.CreateDbContext();
        context.Stand.Add(Stand);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/stands");
    }
}
